*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none; 
}

/* 지역 페이지 전체 */
.region_frame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

/* 지역 슬라이드 */
.region_slide {
	display: inline-flex;
	line-height: 100px;
	background-color: #7DF4B2;
}

.region_slide_list {
	list-style: none;
	background-color: #4BAF4B;
}

.region_slide_list li {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #FF92B1;
	text-align: center;
	line-height: 100px;
	float: left;
}

/* 지역 검색바 */
.region_search {
	text-align: center;
	margin: 5% auto;
	background-color: #8AB78A;
}

.region_recommend, .region_total {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

/* 지역 추천 축제 */
.region_recommend_festival {
	background-color: #5CEEE6;
}

/* 지역 추천 게시물 separate */
.region_list {
	display: inline-block;
	height: 400px;
	background-color: #DCAD67;
}

.region_img {
	position: relative;
	width: 250px;
	height: 188px;
	margin: 30px 15px;
}

.region_img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.region_period, .region_title{
	text-align: center;

}

/* 지역 추천 관광지 */
.region_recommend_tour {
	background-color: #94EB3E;
}

/* 해당 지역 축제 전체 */
.region_total_festival {
	background-color: #FFB6C1;
}

/* 해당 지역 관광지 전체 */
.region_total_tour {
	background-color: #FFC81E;
}

.region_btn_more button {
	background-color: #FF92B1;
	border: none;
	color: white;
	padding: 10px 50px;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	font-size: large;
}