* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	background-clip: border-box;
	vertical-align: top;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	word-break: inherit;
	list-style: none;
	text-decoration: none;
}

img {
	width: 50px;
	height: 50px;
}

body {
	
}

.header_logo {
	flex-direction: row;
	background-color: aqua;
}

.header_inner {
	flex-direction: row;
	list-style: none;
	text-decoration: none;
	background-color: aquamarine;
}

.header-search {
	flex-direction: row;
	background-color: bisque;
}

.header-quick {
	flex-direction: row;
	background-color: gray;
}