* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	background-clip: border-box;
	vertical-align: top;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	word-break: inherit;
	list-style: none;
	text-decoration: none;
}

body {
	width: 100%;
    min-width: 1572px;
    height: 100%;
}

.main_view_header {
	width: 60%;
}

.header_inner {
	display: flex;
	justify-content: space-between;
}

.header_logo {
	background-color: aqua;
	width: 100px;
	height: 50px;
}

.header-logo-img {
	width: 100px;
	height: 100px;
}

.header_nav {
	width: 60%;
	height: 50px;
	background-color: aquamarine;
}

.header_nav_inner {
	display: inline;
	flex-direction: row;
	float: left;
	justify-content: flex-start;
	list-style: none;
	text-decoration: none;
}

.header-search {
	background-color: bisque;
}

.header-quick {
	background-color: gray;
	width: 300px;
}