<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/common.css">
	<title>Main</title>
</head>
<body>
	<!-- 화면 -->
	<div class="main_view">
		<!-- 헤더 -->
		<div class="main_view_header">
			<!-- 헤더 첫번째 영역 -->
			<div class="header_inner">
				<!-- 로고영역 : 메인페이지로 이동 -->
				<div class="header_logo">
					<!-- <h1> -->
						<a href="https://www.hago.kr/templates/mainpage" data-href="{ '_type': 'link' }">
							<img class="header-logo-img" src="https://image.hago.kr/dev/main/pc/pc_main_logo.svg" alt="logo">
							<!-- <img class="logo-sticky" src="https://image.hago.kr/dev/main/pc/pc_sub_logo.svg" alt="logo"> -->
						</a>
					<!-- </h1> -->
				<!-- //로고 -->
				</div>
				<!-- 검색바 -->
				<div class="header_search" tabindex="0" style="cursor:auto;">
					<div class="header_search_form">
						<form>
							<div class="form_text" __text-on>
								<!-- 지우는 버튼 -->
								<button type="button" class="btn_text_clear">
									<!-- 아이콘(지우기버튼) -->
									<i class="form_clear">
										<!-- ::before -->
									</i>
									<b class="ir_blind">지우기</b>
								</button>
								<label for="">
									<input type="text" id="search_word" autocomplete="off">
									<!-- <span class="ir_blind text_placeholder">검색어를 입력하세요</span> -->
								</label>
								<!--  -->
								<button type="button" class="btn_search">
									<img src="https://image.hago.kr/dev/main/pc/pc_search.svg" alt="search">
									<b class="ir_blind">검색하기</b>
								</button>
							</div>
						</form>
					</div>
				<!-- //검색바 -->
				</div>
				<!-- 로그인,마이페이지,장바구니 -->
				<div class="header-quick">
					<ul>
						<li class="renewal-login">
							<a href="https://www.hago.kr/login?redirect_to_after=https%3A%2F%2Fwww.hago.kr">
								<img src="https://image.hago.kr/dev/main/pc/login.svg" alt="">
								<b>로그인</b>
							</a>
						</li>
						<li class="renewal-mypage">
							<a href="https://www.hago.kr/mypage">
								<img src="https://image.hago.kr/dev/main/pc/mypage.svg" alt="">
								<b>마이페이지</b>
							</a>
						</li>
						<li class="renewal-cart">
							<a href="https://www.hago.kr/cart">
								<img src="https://image.hago.kr/dev/main/pc/cart.svg" alt="">
								<b>장바구니</b>
							</a>
						</li>
					</ul>
				<!-- //로그인 -->
				</div>
			<!-- //헤더 첫번째영역 -->
			</div>
			<!-- 헤더 두번째영역 -->
			<div class="header_inner_sec">
				<!-- nav영역 -->
				<div class="header_nav">
					<nav>
						<div class="header_nav_inner">
							<ul>
								<li>
									<a href="https://www.hago.kr/templates/mainpage">
										<b>홈</b>
									</a>
								</li>
								<li>
									<a href="https://www.hago.kr/templates/fashion">
										<b>어패럴</b>
									</a>
								</li>
								<li>
									<a href="https://www.hago.kr/templates/accessory">
										<b>잡화</b>
									</a>
								</li>
							</ul>
						</div>
					</nav>
				<!-- //nav -->
				</div>
			<!-- //헤더 두번째영역 -->
			</div>
		<!-- //헤더 -->
		</div>
		<!-- 베너 영역 -->
		<div class="renewal-main">
			<div class="banner">
				<h3 class="ui_title">
					<b>POST IT</b>
				</h3>
				<img src="./banner.PNG" alt="banner-img">
			</div>
		<!-- //베너 영역 -->
		</div>
		<!-- 상품영역 -->
		<div>
			<div class="ui-item">
				<!-- <div class="item-info">
					<ul>
						<li>
							<button type="button" class="btn_tab">
								<b>노이어 포 우먼</b>
							</button>
						</li>
					</ul>
				</div> -->
			</div>
		<!-- //상품영역 -->
		</div>
		<!-- 푸터 -->
		<div class="footer">
			<!-- 푸터 메뉴 -->
			<div class="footer-menu">
				<div class="lside">
					<ul>
						<li>
							<a href="https://www.hago.kr/company">
								<b>회사소개</b>
							</a>
						</li>
						<li>
							<a href="https://www.hago.kr/company">
								<b>고객센터</b>
							</a>
						</li>
					</ul>
				</div>
				<div class="rside">
					<ul>
						<li>
							<a href="https://www.hago.kr/company">
								<b>개인정보처리방침</b>
							</a>
						</li>
						<li>
							<a href="https://www.hago.kr/company">
								<b>서비스이용약관</b>
							</a>
						</li>
					</ul>
				</div>
			<!-- //푸터 메뉴 -->
			</div>
			<!-- 푸터 정보 -->
			<div class="footer-info">
				<div class="footer-info-inner">
					<div class="f_address">
					<strong>주식회사 하고하우스</strong>
					<br>
					<address>
						" 대표이사 : 홍정우 "
						<br>
						"경기도 성남시 어쩌구"
						<br>
						"사업자등록번호 : 어쩌구"
					</address>
					</div>
					<dl class="footer-cd-center">
						<dt>고객센터</dt>
						<dd>
							"대표전화 : 1670-3212"
							<br>
							"운영시간 : 10:00~06:00"
							<br>
							"이메일 :"
							<a href="mailto:cs@hago.kr">
								<span>cs@hago.kr</span>
							</a>
						</dd>
					</dl>
					<dl class="service-center">
						<dt>구매안전 서비스</dt>
						<dd>
							"고객님은 안전거래를 위해 어쩌구 "
							<br>
							"저희쇼핑몰에 가입한 어쩌구"
							<br>
							<a class="btn-footer-info" href="https://pgweb.uplus.co.kr/ms/escrow/s_escrowYn.do?mertid=hagolnf&is_out_intent=Y">
								<b>서비스가입 사실 확인</b>
							</a>
						</dd>
					</dl>
				</div>
			</div>
		<!-- //푸터 -->
		</div>
	<!-- //화면 -->
	</div>
</body>
</html>