/* 전체 선택자 : 문서 전체에 적용함 */
*{
    color: skyblue;
}

/* 타입 선택자 : 특정 태그 이름을 가진 모든 요소에 적용함 */
h1 {
    color: red;
}

/* 클래스 선택자 : 클래스 속성에 적용함 */
.font-color {
    color: orange;
}

/* ID 선택자 : id 속성에 적용함 */
#p1 {
    color:black;
}

/* 그룹 선택자 : 여러개의 태그? 등등에 효과를 주고싶을떄 사용함*/
em, strong {
    color: purple;
}

