.h2-name {
    color: aqua;
    /* 요즘엔 이 방식 잘 안씀 */
}

.h2-hex { 
    color: #00ffff;
    /* 16진수 표기법 */
}

.h2-rgb { 
    color: rgb(0,255,255);
    /* rgb (빨강을 얼마나 주느냐, 파랑을 얼마나, 초록을 얼마나) */
}

.h2-rgba {
    color: rgba(194, 159, 159,0.5);
    /* rgba (빨강, 파랑, 초록, 명도를 얼마나 주느냐) */
}

.h2-hsla {
    color: hsl(204, 100%, 50%);
    /* 요즘은 잘 안쓰는 방식. */
}