body {
    background-image: url('../img/space.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
/* 선택자를 전체선택자(*)로 줘도 작동되기는 됨. 근데 전체선택자에 설정하면 <HTML>, <body>, <div>등등 모든 태그에도 다 적용이 되기때문에 좀 지양해야됨. */
/* 선택자를 <html>에 줘도 되기는됨. 근데 현업에서는 html에도 잘 설정안함.  */
.div-img {
    width: 500px;
    height: 500px;
    /* border: 1px solid #000; */

    /* repeat-x를 하면 가로(x)로 반복해서 표시함. y는 세로로 반복. */
    background-position: top 10% left 30%;
    /* 수치만 작성하면 background-position( 가로, 세로 )로 작성됨.
    아니면 top, bottom등을 따로 설정하고 수치 설정하면 세세한 위치를 잡을 수 있음.*/
    /* overflow: scroll; */
    /* content에 scroll 적용되는거임. */
}
div { 
    color: white;
}
