header div span {
    color: aqua;
    /* header 안에있는 div의 안에 있는 span에 적용됨 */
}
header>span {
    color: red;
    /* >를 입력하고 태그를 입력하면 해당 부모요소의 자식요소만 적용이 된다. 
    header span 이렇게 입력하면 div안에있는 span(손자요소)까지 적용이 되어버림*/
}
span+p {
    color: blue;
    /* 같은라인에 있는 바로 밑의 형제요소에게 영향을 줌. */
    /* span이 기준임. 그래서 span바로 밑에 있는 p태그에만 적용되고, span밑에 p태그가 2줄이상 있다고 해도 바로 밑의 1줄에만 적용됨. */
}
span~p {
    color: blueviolet;
    /* 기준요소에 인접해 있는 하위 형제요소들에게 모두 적용됨. */
    /* span에 인접해 있는 모든 p태그에 적용된다. (중간에 h1태그가 있어도 p태그에 적용됨.) 
    근데 div위에 있는 span이랑은 관계 없음(같은라인이 아니므로). 따라서 div밑에 있는 p태그에도 적용되지 않음. (위에서 아래로 적용되기 때문에) */
}
