.container {
    background-color: gray;
    margin: 10px;
    width: 60vw;
    height: 60vh;
    display: flex;
    /* display: inline-flex를 사용하기도 하는데 보통 flex를 많이 씀 */
    /* 한줄에 모두 표시하려고 함. 그래서 width값이 설정과 다를 수 있다. */

    flex-wrap: wrap;
    flex-direction: row;
    /* flex 주축의 방향을 지정해줌. (row가 기본값임. 행, 왼쪽에서 오른쪽으로)
    row-reverse : 오른쪽에서 왼쪽으로
    column : flex의 주축을 세로로 지정함. 위에서 아래로
    column-reverse : 세로가 주축, 아래에서 위로. 
    (보통 reverse는 사용하지 않음.)*/

    flex-flow: row wrap;
    /* flex wrap이랑 flex direction 합친것. (그래서 flow를 쓰던지 wrap ,direction을 쓰던지 택1 해야됨.)*/

    justify-content: center;
    /* 주축(지금은 row로 설정해놧으니까 가로가 주축.)을 기준으로 정렬함.
    flex-start는 시작점부터 정렬이니까 왼쪽 정렬, flex-end는 끝점부터 정렬이니까 오른쪽 정렬. 
    space-between, space-around 등이 있다. */
    align-items: flex-start;
    /* 교차축을 기준으로 정렬한다.
    교차축이란? 주축이 x면 교차축은 y축, 주축이 y축이면, 교차축은 x축 */
}
.item {
    width: 15vw;
    height: 15vh;
    background-color: skyblue;
    border: 1px solid #000;
}