
section {
    width: 800px;
}
article { 
    border: 1px dashed #000 ;
    width: 350px;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 10px;
}
footer {
    /* border: 1px solid #000; */
    /* 외곽선을 잡으면 중앙정렬해놨던 텍스트가 밀림. 왜그런지는 나도 모름. */
    background-color: #000;
    color: white;
    width: 800px;
    height: 60px;
    clear: left;
    text-align: center;
    line-height: 60px;
}