* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}

/* header의 a태그 */
.header_title {
    text-decoration: none;
    color: white;
    /* font-weight: 800; */
}
/* **************************************************** */

/* list 페이지 */

main {
    margin: auto;
    text-align: center;
    width: 1200px;
}

/* 페이지 버튼 영역 */
.btn_page {
    margin-top: 40px;
    width: 1200px;
    height: 100px;
}

/* 페이지 버튼 */
.btn-prenex {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    text-decoration-line: none;
    padding: 30px;
}

/* 리스트 */
main table {
    width: 1200px;
    border-spacing: 0 10px;
}

/* td */
.list_list {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
	max-width: 1000px;
    height: 100px;
}

/* td의 a태그 */
.title_a {
    color: #fff;
    text-decoration-line: none;
}

/* 페이지 버튼 클릭 효과 */
.bt-b {
    background-color: brown;
}

/* 글작성 버튼 */
.btn-write {
    display: block;
    position: absolute;
    right: 200px;
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    text-decoration: none;
}

/* **************************************************** */

/* insert 페이지 */

.form_box{
    width: 100%;
    height: 600px;
}

/* input 전체 영역 */
.input_area {
   margin-top: 40px;
   width: 100%;
   height: 200px;
   text-align:center;
}

/* input label */
.input_head {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 300px;
    height: 150px;
    line-height: 150px;
    color: #fff;
    font-size: 30px;
}

/* input */
.input_text {
    display: inline-block;
    width: 850px;
    height: 150px;
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    padding: 20px;
    font-size: 30px;
}

/* insert-textarea */
.inserdate {
    width: 1155px;
    height: 400px;
    padding: 20px;
    text-align: center;
    border: none;
    resize: none;
    background-color: black;
    color: white;
    font-size: 30px;
}

/* teatarea-placeholder에만 */
.inserdate::placeholder {
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
}

.com_b {
    background-color: gray;
    width: 300px;
    height: 70px;
    border: none;
    font-size: 30px;
}

.com_a {
    display: inline-block;
    background-color: gray;
    color: #000;
    width: 300px;
    height: 70px;
    border: none;
    font-size: 30px;
    text-decoration-line: none;
    padding: 15px;
}

/* **************************************************** */

/* detail 페이지 */

.detail_head_area {
    width: 100%;
}

.detail_head {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 20%;
    height: 90px;
    line-height: 90px;
    color: #fff;
    font-size: 30px;
}

.detail_at {
    display: inline-block;
    width: 60%;
}

.detail_cell {
    width: 100%;
    height: 500px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

textarea {
    text-align: center;
}

/* **************************************************** */

/* update 페이지 */

.input_txt {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 30px;
}